h2 {
     font-family: HelveticaNeue LT 35, Bembo Std, Constantia, Georgia;
     font-size: 75px;
     text-align: center;
     color: #000;
     position: relative;
     right: 10px;
}
#header {
     font-family: Infinity;
     font-size: 45px;
     color: #000;
     text-align: center;
     top: 20px;
     position: relative;
     right: 10px;
}

#portalii {
     float: left;
     clear: both;
     position: fixed;
     top: 135px;
     text-decoration: none;
     left: 1210px;
     bottom: 0px;
}
html {
     background-image: url("skulls.png");
}

body, html {
     height:100%;
     padding:0;
     margin:0;
}

#portal {
     float: left;
     clear: both;
     position: fixed;
     top: 135px;
     text-decoration: none;
     left: 3px;
     bottom: 00px;
}

.reddit {
     position: relative;
     left: 470px;
     top: 50px;
     animation-play-state: paused;
}
.facebook {
     position: relative;
     left: 510px;
     top: 50px;
}
.kickass {
     position: relative;
     left: 570px;
     top: 50px;
}
.tpb {
     position: relative;
     left: 610px;
     top: 50px;
}
.chan {
     position: relative;
     top:50px;
     right: 50px;
}
a {
     text-decoration: none;
}
